* {
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
    background: #FFF;
    padding: 0 1rem;
   
}

header,
.products-section,
footer {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

header img {
    display: block;
    margin: 1rem auto;
    width: 76px;
    height: 68px;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0;
}

nav a {
    color: var(--color-black);
    font-size: 1,25rem;
    padding: .5rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

header nav a:nth-child(2n-1) {
    text-align: right;
}

.button {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-weight: 500;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.ilustration-section {
    padding-right: 0;
    padding-bottom: 16rem;
}
.ilustration-section img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    line-height: 105%;
}

h2{
    font-size: 2.5rem;
}

.ilustration-section {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 1.25rem;
}

.ilustration-section p {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    padding-right: 1.25rem;
}

.ilustration-section .button {
    position: relative;
}

.ilustration-section .button::after {
    content: '';
    background: url("arrow-curve.svg");
    position: absolute;
    top: 5rem;
    right: -4rem;
    height:  48px;
    width: 132px;
}

.decoration {
    display: block;
    position: relative;
}

.decoration::after {
    content: '';
    background: url(three-dashes.svg);
    position: absolute;
    height: 36px;
    width:40px;
}

.products-section {
    padding-bottom: 8rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    margin-top: -4rem;
    margin-bottom: 4rem;
}

.carddois {
    background-color:#E4027B;
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
    align-self: end;
}

.cardtres {
    background-color: #FBEC00;
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
}

.cardquatro { 
    background-color: #CECECE;
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
    align-self: end;
}

.card {
    background-color: #4DB6F7;
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
}

.cards strong {
    display: block;
    font-size: 1.5rem;
    margin: 1rem;
}

.cards a {
    display: block;
    margin: 3rem 0 0 auto;
    width: fit-content;
}

/*Rodapé*/

footer {
    border-bottom: 0;
    padding: 1 rem 1.25rem 4rem;
}

footer nav a {
    display: block;
    padding-left: 0;
}
 
.newsletter-form label { 
    color: var(--color-black);
    font-size: 1,25rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    display: block;
    font-size: 24px;
}

.newsletter-form input {
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    font-size: 24px;
    padding: .5rem;
}

/* utilitários*/

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 10rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color:#4DB6F7;
}

.text-center {
    text-align: center;
}

:root {
    --color-primary: #4DB6F7;
    --color-secondary: #E4027B;
    --color-tertiary: #FBEC00;
    --color-quaternary: #212121;
    --color-black: #000;
    --color-white: #fff;

}

/* Responsividade */
@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .carddois,
    .cardquatro {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 48rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 72rem) {
    h1, h2 {
        font-size: 4rem;
    }
    .container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 72rem;
    }
    
    .container.row-reverse {
        flex-direction: row-reverse;
    }

    .about-column {
        flex: 2;
    }

    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    footer nav {
        flex: 1;
    }
    
    .newsletter-form {
        flex: 3;
    }
}

@media screen and (min-width: 80rem) {
    .container {
       max-width: 90rem;
    }

}